<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .username {
            color: #fff !important;
            padding-top: 15px;
            padding-bottom: 15px;
            position: absolute;
            right: 20px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container containerheader">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <a href="/">
                        @*<img src="~/images/centra_LogoPreReg.png" height="55px" />*@
                        <img src="~/images/centra_LogoPreReg.jpg" height="65px" style="margin-left:-14px" />
                    </a>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left:21px">
                    @*<li> @Html.ActionLink("Pre Registration", "LandingPage", "PreRegistration", new { area = "" }, new { @class = "navbar-brand" })</li>*@
                    <li>
                       
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li class="username">Hello, @User.Identity.Name!</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Centra Health</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
