@model PreRegistration.Models.ViewModels.EHCheckDetailViewModel
@{
    ViewBag.Title = "EbolaSymptoms";
    Layout = @Model.GetLayout();
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<style>

    #tblEHCheckDetails_filter {
        /*display: none;*/
    }

    .dataTables_length {
        margin: 10px !important;
    }

    a {
        font-weight: 600;
    }
    .btnsave, .btnsave-large, .btnsave-flat {
        border: none;
        border-radius: 2px !important;
        display: inline-block;
        height: 28px !important;
        line-height: 28px !important;
        padding: 0 8px !important;
        text-transform: uppercase !important;
        vertical-align: middle !important;
        -webkit-tap-highlight-color: transparent
    }

    .btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-flat:disabled, .btn[disabled], [disabled].btn-large, .btn-floating[disabled], .btn-large[disabled], .btn-flat[disabled] {
        pointer-events: none;
        background-color: #e0e0e0 !important;
        box-shadow: none;
        color: #6e6e6e !important;
        cursor: default
    }

        .btn.disabled:hover, .disabled.btn-large:hover, .btn-floating.disabled:hover, .btn-large.disabled:hover, .btn-flat.disabled:hover, .btn:disabled:hover, .btn-large:disabled:hover, .btn-floating:disabled:hover, .btn-large:disabled:hover, .btn-flat:disabled:hover, .btn[disabled]:hover, [disabled].btn-large:hover, .btn-floating[disabled]:hover, .btn-large[disabled]:hover, .btn-flat[disabled]:hover {
            background-color: #e0e0e0 !important;
            color: #6e6e6e !important
        }

    .btnsave, .btnsave-large, .btnsave-floating, .btnsave-large, .btnsave-flat {
        font-size: 13px;
        outline: 0
    }

    .btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
        font-size: 20.8px;
        line-height: inherit
    }

    .btn:focus, .btn-large:focus, .btn-floating:focus {
        background-color: #0c7cd5
    }

    .btnsave, .btnsave-large {
        text-decoration: none;
        color: #fff;
        font-weight: 700 !important;
        font-style: normal !important;
        background-color: #2196f3;
        text-align: center;
        letter-spacing: .5px;
        transition: .2s ease-out;
        cursor: pointer
    }

        .btnsave:hover, .btnsave-large:hover {
            background-color: #39a1f4
        }

    .btnsave-floating {
        display: inline-block;
        color: #fff;
        position: relative;
        overflow: hidden;
        z-index: 1;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        background-color: #2196f3;
        border-radius: 50%;
        transition: .3s;
        cursor: pointer;
        vertical-align: middle
    }

    .btn-floating:hover {
        background-color: #2196f3
    }

    .btn-floating:before {
        border-radius: 0
    }

    .btn-floating.btn-large {
        width: 56px;
        height: 56px
    }

        .btn-floating.btn-large.halfway-fab {
            bottom: -28px
        }

        .btn-floating.btn-large i {
            line-height: 56px
        }

    .btn-floating.halfway-fab {
        position: absolute;
        right: 24px;
        bottom: -20px
    }

        .btn-floating.halfway-fab.left {
            right: auto;
            left: 24px
        }

    .btn-floating i {
        width: inherit;
        display: inline-block;
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
        line-height: 40px
    }

    button.btn-floating {
        border: none
    }

    .formScreeningInfo {
        /*  width: 775px;  */
        display: block;
        float: left;
        font-weight: bold;
        color: #007bff;
    }

    .btn, .btn-large {
        text-decoration: none;
        color: #fff;
        font-weight: 700 !important;
        font-style: normal !important;
        background-color: #2196f3;
        text-align: center;
        letter-spacing: .5px;
        transition: .2s ease-out;
        cursor: pointer
    }

</style>
<br /><br />
<form id="ehform">
    <br /><br />

    <div id="loadingDiv" style="display:none">
        <div class="loader"></div>
    </div>
    <div class="form-group col-md-12 box-shadow--8dp btn-" style="background-color:white">
        <div class="row headertext">
            <div class="col-md-8">
                <h4><b>List of Previously Submitted Forms</b></h4>
            </div>
        </div>
        <div id="infoSecDiv">
            <table class="table table-hover dataTable box-shadow--8dp" style="background-color:#add8e6; width:100%" id="tblEHCheckDetails">
                <thead>
                    <tr>
                        <th>EHMaster ID</th>
                        <th>Record Date</th>
                        <th>Record Time</th>
                        <th>Exposure Date</th>
                        <th>Temperature</th>
                        <th>NauseaVomiting</th>
                        <th>NVComment</th>
                    </tr>
                </thead>
                <tbody style="font-weight: bold;">
                    @foreach (var item in Model.EHCheckDetails)
                    {
                        <tr>
                            <td>@item.EHMasterID</td>
                            <td>@item.RecordDate</td>
                            <td>@item.RecordTime</td>
                            <td>@item.ExposureDate</td>
                            <td>@item.Temperature</td>
                            <td>@item.NauseaVomiting</td>
                            <td>@item.NVComment</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>EHMaster ID</th>
                        <th>Record Date</th>
                        <th>Record Time</th>
                        <th>Exposure Date</th>
                        <th>Temperature</th>
                        <th>NauseaVomiting</th>
                        <th>NVComment</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {

        $('#tblEHCheckDetails tfoot th').each(function () {
            var title = $(this).text();
            if (title != "") {
                $(this).html('<input type="text" placeholder="' + title + '" />');
            }
        });

        var tblEHCheckDetails = $('#tblEHCheckDetails').DataTable({
            dom: 'lBfrtip',
            "order": [[0, "desc"]],
            buttons: [
                {
                    text: 'Clear filters',
                    action: function (e, dt, node, config) {
                        tblEHCheckDetails.search('').columns('').search('').draw();
                        $('input[type=text]').val('');
                    }
                }
            ],
            initComplete: function () {
                var btns = $('.dt-button');
                btns.addClass('btn btn-primary');
                btns.removeClass('dt-button');
               //var dropdown = $('#tblEHCheckDetails_length');
               // dropdown.removeClass('dataTables_length');
            },
            "columnDefs": [
            {
                "aTargets": [0],    //Edit column
                    "name": "EHMasterID",
                    "data": "EHMasterID",  //Get value from RoleId column, I assumed you used "RoleId" as the name for RoleId in your JSON, in my case, I didn't assigned any name in code behind so i used "mData": "0"
                "mRender": function (data, type, full) {
                    return '<a target="_blank" href=' + '@Url.Action("EbolaSymptoms", "PreRegistration")?ehMasterID=' + data + '>' + data + '</a>';
                }
            },
             {
                 "aTargets": [1],
                 "name": "RecordDate",
                 "data": "RecordDate",
             },
                {
                    "aTargets": [2],
                    "name": "RecordTime",
                    "data": "RecordTime",
                },
                {
                    "aTargets": [3],
                    "name": "ExposureDate",
                    "data": "ExposureDate",
                },
                {
                    "aTargets": [4],
                    "name": "Temperature",
                    "data": "Temperature",
                },
                {
                    "aTargets": [5],
                    "name": "NauseaVomiting",
                    "data": "NauseaVomiting",
                },
                {
                    "aTargets": [6],
                    "name": "NVComment",
                    "data": "NVComment",
                },
            ]
        });

        tblEHCheckDetails.columns().every(function () {
            var dataTableColumn = this;
            $(this.footer()).find('input').on('keyup change', function () {
                dataTableColumn.search(this.value).draw();
            });
        });

        $('#btnClear').bind('click', function () {
            $('#divsubmitted input').val('');
            tblEHCheckDetails.columns().search(this.value).draw();
        })


    });
</script>